@import './constants.scss';

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.shield {
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/casual-life-3d-excited-young-woman-receiving-like-notifications-on-her-laptop\ 1.svg);
    background-color: $creamy;
    background-repeat: no-repeat;
    background-position: right;

    &__navigation {
        width: 100%;
        height: 10%;
        padding-left: 13%;
        display: flex;
        color: $primary;
    }


}