@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body {
    margin: 0;
    background-image: url("imgs/stephen-leonardi-Al9Cl-b7EFU-unsplash\ 1.png") rgba(81, 38, 174, 0.4736);
    background-position: center;
    height: 865px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

li {
    list-style-type: none;
}

.navigation__logo {
    float: left;
    margin-top: 42px;
    margin-left: 100px;
}

.navigation__menu {
    float: right;
    margin-top: 25px;
    margin-right: 305px;
}

.menu__links li {
    margin-right: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: inline;
    color: white;
    cursor: pointer; 
}

h1 {
    position: absolute;
    width: 821px;
    height: 143px;
    left: 100px;
    top: 239px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #FFFFFF;
}

p {
    position: absolute;
    width: 789px;
    height: 74px;
    left: 110px;
    top: 433px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    color: #FFFFFF;

}
.header__content {
    
}

.header__icons {
    position: absolute;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 91px;
    width: 1241px;
    height: 174px;
    left: 100px;
    top: 618px;
    background: #FFFFFF;
}

.icon-one {
    position: static;
    display: inline-block;
    width: 203px;
    height: 23%;
    left: 191px;
    top: 639px;
    background: #FFF0CB;
    }
    
.icon-two {
    position: static;
    display: inline-block;
    margin-left: 27px;
    width: 828px;
    height: 61px;
    left: 421px;
    top: 639px;
    background: #FFF0CB;
    }

.icon-three {
    position: static;
    display: inline-block;
    margin-top: 11px;
    margin-right: 27px;
    width: 203px;
    height: 61px;
    left: 191px;
    top: 639px;
    background: #FFF0CB;
    }

.icon-four {
    position: static;
    display: inline-block;
    width: 179px;
    height: 61px;
    left: 421px;
    top: 711px;
    background: #FFF0CB;

    }

.icon-five {
    position: static;
    display: inline-block;
    margin-left: 14px;
    width: 179px;
    height: 61px;
    left: 614px;
    top: 711px;
    background: #FFF0CB;
}

.icon-six {
    position: static;
    display: inline-block;
    margin-left: 14px;
    width: 179px;
    height: 61px;
    left: 807px;
    top: 711px;
    background: #FFF0CB;
}

button {
    position: absolute;
    width: 317px;
    height: 61px;
    top: 96px;
    right: 89px;
    background-color: #FFC839;
    font-weight: bold;
    border: none;
    color: black;
}

.footer__content {
    position: absolute;
    width: 100%;
    height: 645px;
    top: 889px;
    padding-left: 63px;
    background: #093A7A;
}

.footer__content-services li {
    display: inline;
    margin-right: 65px;
    width: 119px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #CACACA;
}


.footer__logo {
    position: absolute;
    width: 165px;
    height: 36px;
    left: 104px;
}