@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body {
    margin:0;
    overflow: hidden;

}

.landing {
    height: 100vh;
    width: 100vw;
    background-image: url('./imgs/bg.png');
    background-size: cover;
    position: relative;
}

.landing__bg-top{
    background-image: url('./imgs/top.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 450px;
    width: 60%;
    right: 0;
}

.landing__bg-bottom{
    background-image: url('./imgs/bottom.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 350px;
    width: 50%;
    bottom: 0;
}

.navigation__icon {
    position: relative;
    left: 5.14%;
    right: 93.19%;
    top: 50px;
    bottom: 92.73%;
}

.navigation__logo {
    position: relative;
    width: 48px;
    height: 24px;
    left: 108px;
    top: 33px;
}

.navigation__menus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation__menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.navigation__menu > ul > li {
    width: 20%;
    padding-right: 40px;
    display: inline;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #7D8790;
}

.navigation__menu-btns {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-login {
    width: 100%;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    color: #7D8790;
    border-radius: 12px;
    border: none;
    background: none;
}

.btn-register {
    width: 100%;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    color: #7D8790;
    border-radius: 12px;
    border: none;
    background: #ED9B59;
}

.mainpage_content-text {
    width: 60%;
    height: 80vh;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-line {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ED9B59;
}

.main-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 59px;
    color: #1A1D32;
}

.main-text {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1A1D32;
    opacity: 0.7;
}

.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #FFFFFF;
    border-radius: 40px;
}

.input type="text"{
    width: 515px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 40px;
}

.dating__profile {
    width: 60%;
    height: 90vh;
    background-image: url('./imgs/couple.svg');
    background-position: left bottom;
    background-size: 100% 85%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.dating__profile-selection {
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.dating__profile-card {
    height: 300px;
    width: 50%;
}

.dating__profile-filters {

}

.dating__profile-detail {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    height: 7vh;
    width: 80%;
}

.dating__profile-detail:first-child{

}
.dating__profile-detail:last-child{
    align-self: flex-end;
}

.dating__profile-detail > div {
    display: flex;
    flex-direction: column;
}

.love-circle {
    height: 75px;
    width: 75px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 110px;
    bottom: 30%;
}