@import './constants.scss';

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background;
    overflow-x: hidden;
    font-family: 'Aleo', serif;
    font-family: 'Josefin Sans', sans-serif; 
    
    
}

.bhromaon-header {
    width: 100%;
    height: 90%;
    background-image: url(/Exam/assets/imgs/header\ img.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%, contain;
    display: flex;
    flex-wrap: wrap;

    &__title {
        width: 100%;
        height: 80%;
        color: $second;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {font-family: 'Josefin Sans';
             font-style: normal;
             font-weight: 700;
             font-size: 48px;
             line-height: 26px;
             letter-spacing: 4.8px;

        }

        p {font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 6.82px;
        }        
    }   

}

.search-container {
    height: 63px;
    width: auto;

    input {
        width: 503px;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        line-height: 26px;
        letter-spacing: 2.8px;
        color: #999999;
        top: 18px;
        left: 113px;   
    }

    button {
        width: 92px;
        background-color: $primary;
        color: $second;
        border: none;
        padding: 3px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 1.4px;
        cursor: pointer;
        transition-duration: 0.5s;
    }

    button:hover {
        background-color: green;
        color: white;
      }

}

.bhromaon-navigation-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $primary;

    &__menu {
        display: flex;
        
        width: 30%;
        justify-content: space-evenly;

        & li {
            list-style: none;
                color: $second;
                padding: 2%;
                cursor: pointer;
        }
    }
}

.bhromaon-main {
    width: 100%;
    height: 60%;

    &__page {
        width: 100%;
        height: 100%;
        background-image: url(/Exam/assets/imgs/Rectangle\ 41444.svg);
        background-repeat: no-repeat;
        background-size: 100%, contain;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
    
    }

    &__media {
        width: 40%;
        height: auto;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__text {
        width: 35%;
        height: auto;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        h2 {
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: $second;
        }

        p {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 1.6px;
            color: #E8E8E8;
        }

        button {
            width: 228px ;
            background-color: $primary;
            color: $second;
            border: none;
            padding: 14px 28px;
            display: inline-block;
            text-decoration: none;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.2px;
        }

        button:hover {
            background-color: green;
            color: white;
          }
    }

    &__howitworks {
        width: 100%;
        height: fit-content;
    }

    &__Spain {
            width: 100%;
            height: 100%;
            background-image: url(/Exam/assets/imgs/Rectangle\ 414\ 45.svg);
            background-repeat: no-repeat;
            background-size: 100%, contain;
            background-position: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: column;
     
    }

    &__SpainHouse {
        width: 30%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: #232323;
        opacity: 0.9;
    
        h5 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px; 
            letter-spacing: 1.5px;
            color: #E8E8E8;
    
        }
    
        h4 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            align-items: center;
            text-transform: uppercase;
            color: $second;
        }
    
        p {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #E8E8E8;
        }
        
        button {
            width: 228px ;
            background-color: $primary;
            color: $second;
            border: none;
            padding: 14px 28px;
            display: inline-block;
            text-decoration: none;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            align-items: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;      

      }

      button:hover {
        background-color: green;
        color: white;
      }
    
}
       &__SpainSea {
        width: 30%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: #232323;
        opacity: 0.9;
    
        h5 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px; 
            letter-spacing: 1.5px;
            color: #E8E8E8;
    
        }
    
        h4 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            align-items: center;
            text-transform: uppercase;
            color: $second;
        }
    
        p {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #E8E8E8;
        }
        
        button {
            width: 228px ;
            background-color: $primary;
            color: $second;
            border: none;
            padding: 14px 28px;
            display: inline-block;
            text-decoration: none;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            align-items: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;

       }

       button:hover {
        background-color: green;
        color: white;
      }

}

&__testimonial {
    width: 100%;
    height: auto;
    background-image: url(/Exam/assets/imgs/Rectangle\ 4142\ 1.svg);
    background-repeat: no-repeat;
    background-size: 100%, contain;
    background-position: center;
    display: flex;
    flex-wrap: wrap;

    h2 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        text-align: center;
        color: $second;
    }

    h3 {
        padding-left: 10%;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        align-items: center;
        text-transform: uppercase;
        color: $second; 
                  
    }

    p { padding-left: 10%;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        align-items: center;
        color: $second;
    }

    img {
        padding-left: 5%;
    }
}

}

.bhromaon-footer {
    width: 100%;
    background-color: #232323;
    display: flex;

    &__content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}