body {
    background-color: ivory;
}

.fruitbox__img {
    height: 200px;
}

.fruitbox__wrapper {
    width: 250px;
    height: 200px;
    margin: 24px;  
    padding: 3px;
    text-align: center;
    background-color: white;
    float:right;
    

    
}